option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "tenantguard.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "tenantguard.wsgi:application"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_ingest_data:
    command: "python manage.py ingest_all --limit 1000"
    leader_only: true
    ignoreErrors: true
  04_compute_scores:
    command: "python manage.py compute_risk_scores"
    leader_only: true
    ignoreErrors: true
