option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "tenantguard.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "tenantguard.wsgi:application"

container_commands:
  01_migrate:
    command: "bash -c 'source /var/app/venv/*/bin/activate && python manage.py migrate --noinput'"
    leader_only: true
  02_collectstatic:
    command: "bash -c 'source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput'"
    leader_only: true

